<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна сторінка</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Управління базою даних</h1>
        <div class="buttons">
            <a href="/add" class="button">Додати людину</a>
            <a href="/delete" class="button">Видалити людей</a>
            <a href="/view" class="button">Переглянути базу</a>
            <a href="/feedback" class="button">Фідбек</a>
        </div>
    </div>
</body>
</html>
